# OS
.DS_Store

# Editor
.idea
atlassian-ide-plugin.xml
.ruby-lsp/

# Frontends
node_modules/
frontends/*/dist/
frontends/*/.env.local

# API build tool
api/storage/*.sqlite3
api/storage/*.sqlite3-journal
api/log/*.log
api/tmp/
api/config/master.key
api/config/credentials/*.key
api/.kamal/secrets
